<!DOCTYPE html>
<html>
  <head>
    <title>cabins 'n dirt</title>
    <link 
      rel="icon" 
      href="https://cabins-seeds.s3.amazonaws.com/favicon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
    window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>